<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="AutoArena Application">
    <meta name="keywords" content="AutoArena, springboot, html, thymeleaf">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${pageTitle}"></title>

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_csrf_parameter" th:content="${_csrf.parameterName}"/>

    <div th:replace="~{fragments/privateCSS :: privateCss}"></div>

</head>

<body>

<div id="wrapper">

    <div th:replace="~{fragments/privateHeader :: headerFragment}"></div>

    <div th:replace="~{fragments/privateLeftMenu :: leftMenuFragment}"></div>

    <div class="main">
        <div class="main-content">
            <div class="container-fluid">
                <h3 class="page-title"><p th:text="${pageTitle}"></p></h3>

                <div class="panel panel-headline demo-icons">
                    <div class="panel-heading">
                        <h4 class="panel-title" th:text="${blockTitle}"></h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome Completo</th>
                                <th>Login</th>
                                <th>E-mail</th>
                                <th>Ativo</th>
                                <th>Data de Nascimento</th>
                                <th>Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.nome} + ' ' + ${user.sobrenome}"></td>
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.email}"></td>
                                <td>
                                    <span th:text="${user.enabled} ? 'Sim' : 'Não'"></span>
                                </td>
                                <!--<td th:text="${user.dataNascimento}"></td>-->
                                <td th:text="${#temporals.format(user.dataNascimento, 'dd/MM/yyyy')}"></td>
                                <td>
                                    <a th:href="@{/private/admin/users/edit/{id}(id=${user.id})}" class="btn btn-info btn-sm">Editar</a>
                                    <!--
                                    <form th:action="@{/private/admin/users/delete/{id}(id=${user.id})}" method="post" style="display:inline;">
                                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir este usuário?');">Excluir</button>
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                    </form>
                                    -->

                                    <form th:action="@{/private/admin/users/toggle-status/{id}(id=${user.id})}" method="post" style="display:inline;">
                                        <button th:if="${user.enabled}" type="submit" class="btn btn-warning btn-sm" onclick="return confirm('Tem certeza que deseja inativar este usuário?');">Inativar</button>

                                        <button th:if="${!user.enabled}" type="submit" class="btn btn-success btn-sm" onclick="return confirm('Tem certeza que deseja ativar este usuário?');">Ativar</button>

                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div th:replace="~{fragments/privateFooter :: footerFragment}"></div>
</div>

<div th:replace="~{fragments/privateScriptsJS :: privateScriptsJs}"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var messageType = /*[[${messageType}]]*/ null;
    var message = /*[[${message}]]*/ null;

    if (message && messageType) {
        $(document).ready(function() {
            if (typeof toastr !== 'undefined') {
                if (messageType === 'success') {
                    toastr.success(message);
                } else if (messageType === 'error') {
                    toastr.error(message);
                } else if (messageType === 'warning') {
                    toastr.warning(message);
                }
            } else {
                console.log(messageType + ": " + message);
            }
        });
    }
    /*]]>*/
</script>

</body>
</html>