<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HVAC Template">
    <meta name="keywords" content="HVAC, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AutoArena | Empresa</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">-->

    <link rel="stylesheet" th:href="@{/css/app_public/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/app_public/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/app_public/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/app_public/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/app_public/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/app_public/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/app_public/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/app_public/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/app_public/style.css}" type="text/css">

</head>

<body>


<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>


<!--<div th:replace="header :: headerFragment"></div>-->
<div th:replace="~{fragments/publicHeader :: headerFragment}"></div>


<!-- Breadcrumb End -->
<div class="breadcrumb-option set-bg" data-setbg="img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Empresa</h2>
                    <div class="breadcrumb__links">
                        <!--<a href="../index.html"><i class="fa fa-home"></i> Home</a>-->
                        <a th:href="@{/}"><i class="fa fa-home"></i> Home</a>
                        <span>Empresa</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Begin -->

<!-- About Us Section Begin -->
<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title about-title">
                    <!--
                    <h2>Wellcome To HVAC Auto Online <br />We Provide Everything You Need To A Car</h2>
                    <p>First I will explain what contextual advertising is. Contextual advertising means the
                        advertising of products on a website according to<br /> the content the page is displaying.
                        For example if the content of a website was information on a Ford truck then the
                        advertisements</p>
                    -->
                    <h2>Bem-vindo a AutoArena <br/>Aqui você encontra o veículo que você procura.</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="about__feature">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="about__feature__item">
                        <img src="img/about/af-1.png" alt="">
                        <!--
                        <h5>Quality Assurance System</h5>
                        <p>It seems though that some of the biggest problems with the internet advertising trends are the lack of</p>
                        -->
                        <h5>Segurança</h5>
                        <p>Veículos com procedência e garantia de uma compra segura</p>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="about__feature__item">
                        <img src="img/about/af-2.png" alt="">
                        <!--
                        <h5>Accurate Testing Processes</h5>
                        <p>Where do you register your complaints? How can you protest in any form against companies whose</p>
                        -->
                        <h5>Qualidade</h5>
                        <p>Veículos confortáveis, bonitos e seguros. <br/>Tudo o que há de melhor pra você e sua família.</p>

                    </div>
                </div>
                <!--
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about__feature__item">
                        <img src="img/about/af-3.png" alt="">
                        <h5>Infrastructure Integration Technology</h5>
                        <p>So in final analysis: it’s true, I hate peeping Toms, but if I had to choose, I’d take one any day over an</p>

                    </div>
                </div
                -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="about__pic">
                    <img src="img/about/about-pic.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="about__item">
                    <!--
                    <h5>Our Mission</h5>
                    <p>Now, I’m not like Robin, that weirdo from my cultural anthropology class; I think that
                        advertising is something that has its place in our society; which for better or worse is
                        structured along a marketplace economy. But, simply because I feel advertising has a right
                        to exist, doesn’t mean that I like or agree with it, in its</p>
                    -->
                    <h5>Nossa Missão</h5>
                    <p>Texto Teste</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="about__item">
                    <!--
                    <h5>Our Vision</h5>
                    <p>Where do you register your complaints? How can you protest in any form against companies
                        whose advertising techniques you don’t agree with? You don’t. And on another point of
                        difference between traditional products and their advertising and those of the internet
                        nature, simply ignoring internet advertising is </p>
                    -->
                    <h5>Nossa Vsão</h5>
                    <p>Texto Teste</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Section End -->

<!-- Call Section Begin -->
<!--
<section class="call spad set-bg" data-setbg="img/about/call-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <div class="call__text">
                    <div class="section-title">
                        !--
                        <h2>Request A Call Back</h2>
                        <p>Posters had been a very beneficial marketing tool because it had paved to deliver an
                            effective message that conveyed customer’s</p>
                        --
                        <h2>Solicite um Contato</h2>
                        <p>Preencha seus dados que entramos em contato com você.</p>

                    </div>
                    <a th:href="@{/}">Contate-nos</a>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 col-md-6">
                <form action="#" class="call__form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Nome" required>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" placeholder="E-mail" required>
                        </div>

                        <div class="col-lg-6">
                            <input type="text" placeholder="Telefone"  required>
                        </div>

                        <div class="col-lg-6">
                            <select>
                                <option value="">Escolha um Serviço</option>
                                <option value="">Comprar um Veículo</option>
                                <option value="">Vender um Veículo</option>
                            </select>
                        </div>

                        !--
                        <div class="col-lg-6">
                            <input type="text" placeholder="Telefone">
                        </div>
                        <div class="col-lg-6">
                            <select>
                                <option value="">Choose Our Services</option>
                                <option value="">Buy Cars</option>
                                <option value="">Sell Cars</option>
                                <option value="">Wash Cars</option>
                            </select>
                        </div>
                        --
                    </div>
                    !--<button type="submit" class="site-btn">Submit Now</button>--
                    <button type="submit" class="site-btn">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>
-->
<!-- Call Section End -->

<!-- Team Section Begin -->
<!--
<section class="team spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title team-title">
                    <span>Our Team</span>
                    <h2>Meet Our Expert</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="team__item">
                    <div class="team__item__pic">
                        <img src="img/about/team-1.jpg" alt="">
                    </div>
                    <div class="team__item__text">
                        <h5>John Smith</h5>
                        <span>Marketing</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team__item">
                    <div class="team__item__pic">
                        <img src="img/about/team-2.jpg" alt="">
                    </div>
                    <div class="team__item__text">
                        <h5>Christine Wise</h5>
                        <span>C.E.O</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team__item">
                    <div class="team__item__pic">
                        <img src="img/about/team-3.jpg" alt="">
                    </div>
                    <div class="team__item__text">
                        <h5>Sean Robbins</h5>
                        <span>Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team__item">
                    <div class="team__item__pic">
                        <img src="img/about/team-4.jpg" alt="">
                    </div>
                    <div class="team__item__text">
                        <h5>Lucy Myers</h5>
                        <span>Delivary</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<!-- Team Section End -->

<!-- Testimonial Section Begin -->
<!--
<section class="testimonial spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title testimonial-title">
                    <span>Testimonials</span>
                    <h2>What People Say About Us</h2>
                    <p>Our customers are our biggest supporters. What do they think of us? Lorem</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="testimonial__slider owl-carousel">
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__item__author">
                            <div class="testimonial__item__author__pic">
                                <img src="img/testimonial/testimonial-1.png" alt="">
                            </div>
                            <div class="testimonial__item__author__text">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h5>John Smith /<span> CEO Colorlib</span></h5>
                            </div>
                        </div>
                        <p>For one thing they usually step all over the hedges and plants on the side of someone’s
                            house killing</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__item__author">
                            <div class="testimonial__item__author__pic">
                                <img src="img/testimonial/testimonial-2.png" alt="">
                            </div>
                            <div class="testimonial__item__author__text">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h5>Emma Sandoval /<span> Marketing Manager</span></h5>
                            </div>
                        </div>
                        <p>It seems though that some of the biggest problems with the internet advertising trends
                            are the lack of</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__item__author">
                            <div class="testimonial__item__author__pic">
                                <img src="img/testimonial/testimonial-1.png" alt="">
                            </div>
                            <div class="testimonial__item__author__text">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h5>John Smith /<span> CEO Colorlib</span></h5>
                            </div>
                        </div>
                        <p>For one thing they usually step all over the hedges and plants on the side of someone’s
                            house killing</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="testimonial__item">
                        <div class="testimonial__item__author">
                            <div class="testimonial__item__author__pic">
                                <img src="img/testimonial/testimonial-2.png" alt="">
                            </div>
                            <div class="testimonial__item__author__text">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <h5>Emma Sandoval /<span> Marketing Manager</span></h5>
                            </div>
                        </div>
                        <p>It seems though that some of the biggest problems with the internet advertising trends
                            are the lack of</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<!-- Testimonial Section End -->

<!-- Counter Begin -->
<!--
<div class="counter spad set-bg" data-setbg="img/counter-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <h2 class="counter-num">1922</h2>
                    <p>Vehicles Stock</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <h2 class="counter-num">1500</h2>
                    <strong>+</strong>
                    <p>Vehicles Sale</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <h2 class="counter-num">1922</h2>
                    <p>Dealer Reviews</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="counter__item">
                    <h2 class="counter-num">5100</h2>
                    <p>Happy Clients</p>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!-- Counter End -->

<!-- Clients Begin -->
<!--
<div class="clients spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title client-title">
                    <span>Partner</span>
                    <h2>Our Clients</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="img/clients/client-1.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="img/clients/client-2.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="img/clients/client-3.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="img/clients/client-2.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="img/clients/client-4.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="img/clients/client-5.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="img/clients/client-6.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="#" class="client__item">
                    <img src="img/clients/client-7.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
-->
<!-- Clients End -->


<!--<div th:replace="footer :: footerFragment"></div>-->
<div th:replace="~{fragments/publicFooter :: footerFragment}"></div>

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->


<script th:src="@{/js/app_public/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/app_public/bootstrap.min.js}"></script>
<script th:src="@{/js/app_public/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/app_public/jquery-ui.min.js}"></script>
<script th:src="@{/js/app_public/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/app_public/mixitup.min.js}"></script>
<script th:src="@{/js/app_public/jquery.slicknav.js}"></script>
<script th:src="@{/js/app_public/owl.carousel.min.js}"></script>
<script th:src="@{/js/app_public/main.js}"></script>

<script>
    window.onscroll = function() {myFunction()};

    var header = document.getElementById("header__navbar");
    var sticky = header.offsetTop;

    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }
</script>



</body>

</html>